body {
  text-align: center;
}

.header {
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 32px;
  margin-top: 24px;
}

.title {
  height: 32px;
  line-height: 32px;
  border-left: 4px solid #1996f9;
  padding: 0 16px;
  background: #f5f6fa;
  margin: 24px 0;
}
/* 进度条 start */
.progress {
  background: gray;
}

.progress::-moz-progress-bar {
  background: red;
}

.progress::-webkit-progress-value {
  background: red;
}
/* 进度条 end */

canvas {
  border: 1px solid;
}
